/* You can add global styles to this file, and also import other style files */
/* Вы можете добавить глобальные стили в этот файл, а также импортировать другие файлы стилей */

/* Marking the theme CSS as external to exclude from the bundle */
@import url(@angular/material/prebuilt-themes/deeppurple-amber.css);
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html, body {
  height: 100%;
}
body { margin: 0; font-family: 'Cascadia Code', 'Inconsolata', sans-serif; }

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}


.font-cascadia {
  font-family: 'Cascadia Code', 'Inconsolata', sans-serif;
}

.font-cascadia-bold {
  font-family: 'Cascadia Code', 'Inconsolata', sans-serif;
  font-weight: bold;
}

.font-size-16px {
  font-size: 16px
}

.font-size-13px {
  font-size: 13px
}

.font-Libertinus {
  font-family: 'Libertinus Keyboard', 'Cascadia Code', 'Inconsolata', sans-serif;
}

.font-Revalia {
  font-family: 'Revalia', 'Libertinus Keyboard', 'Cascadia Code', 'Inconsolata', sans-serif;
}

.font-Hanalei-Fill {
  font-family: 'Hanalei Fill', 'Revalia', 'Libertinus Keyboard', 'Cascadia Code', 'Inconsolata', sans-serif;
}

.font-Bangers {
  font-family: 'Bangers', 'Hanalei Fill', 'Revalia', 'Libertinus Keyboard', 'Cascadia Code', 'Inconsolata', sans-serif;
}

.label-style {
  flex: 0 0 auto;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
  align-self:center
}

