<mat-form-field subscriptSizing="dynamic" style="width: 100%;">
  <mat-label class="font-cascadia font-size-13px">Choose {{entityName}}</mat-label>
  <input class="mat-option" type="text" matInput [formControl]="formControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    @for (option of filteredOptions | async; track option) {
      <mat-option class="mat-option" [value]="option">{{option}}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
